@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5r0ugh');
  src:  url('fonts/icomoon.eot?5r0ugh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5r0ugh') format('truetype'),
    url('fonts/icomoon.woff?5r0ugh') format('woff'),
    url('fonts/icomoon.svg?5r0ugh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iokassa:before {
  content: "\e923";
}
.icon-iomoney:before {
  content: "\e924";
}
.icon-mastercard:before {
  content: "\e925";
}
.icon-mir:before {
  content: "\e926";
}
.icon-qiwi:before {
  content: "\e927";
}
.icon-sber:before {
  content: "\e928";
}
.icon-visa:before {
  content: "\e929";
}
.icon-walletone:before {
  content: "\e92a";
}
.icon-webmoney:before {
  content: "\e92b";
}
.icon-facebook:before {
  content: "\e92c";
}
.icon-instagram:before {
  content: "\e92d";
}
.icon-odnoklassniki:before {
  content: "\e92e";
}
.icon-skype:before {
  content: "\e92f";
}
.icon-telegram:before {
  content: "\e930";
}
.icon-tiktok:before {
  content: "\e931";
}
.icon-twitter:before {
  content: "\e932";
}
.icon-viber:before {
  content: "\e933";
}
.icon-vk:before {
  content: "\e934";
}
.icon-whatsapp:before {
  content: "\e935";
}
.icon-youtube:before {
  content: "\e936";
}
.icon-checkbox:before {
  content: "\e91b";
}
.icon-check:before {
  content: "\e922";
}
.icon-grid:before {
  content: "\e90a";
}
.icon-list:before {
  content: "\e90f";
}
.icon-menu:before {
  content: "\e912";
}
.icon-address:before {
  content: "\e900";
}
.icon-arrow_down:before {
  content: "\e901";
}
.icon-arrow_left:before {
  content: "\e902";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-arrow_up:before {
  content: "\e904";
}
.icon-button_back:before {
  content: "\e905";
}
.icon-button_catalog:before {
  content: "\e906";
}
.icon-button_forward:before {
  content: "\e907";
}
.icon-button_new:before {
  content: "\e908";
}
.icon-button_news:before {
  content: "\e909";
}
.icon-compare:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-favorites:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e90e";
}
.icon-logo:before {
  content: "\e910";
}
.icon-mail:before {
  content: "\e911";
}
.icon-minus:before {
  content: "\e913";
}
.icon-notify:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-quick_buy:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-cart:before {
  content: "\e919";
}
.icon-star:before {
  content: "\e91a";
}
.icon-phone:before {
  content: "\e91c";
}
.icon-tick_down:before {
  content: "\e91d";
}
.icon-tick_left:before {
  content: "\e91e";
}
.icon-tick_right:before {
  content: "\e91f";
}
.icon-tick_up:before {
  content: "\e920";
}
.icon-time:before {
  content: "\e921";
}
